* {
  margin: 10px;
  padding: 10px;
}

.html,
body {
  padding: 10px;
  margin: 10px;
}

.box {
 background: rgb(207, 207, 233);
 text-align:left;
 font-size: 80px;
 
 font-weight: 900;
 padding: 20px 60px;
 margin:10px;
 justify-content: flex-start;
 width: fit-content;

}